@model OdeToFood.ViewModels.HomePageViewModel
@*<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Home</title>
    </head>
    <body>*@
@{
    ViewData["Title"] = "Home";
}

<h1>Welcome!</h1>
@*<h3>@Model.CurrentGreeting</h3>*@

@foreach (var restaurant in Model.Restaurants)
{
    @Html.Partial("_Summary", restaurant);
}

@*Replaced by @Html.Partial*@
@*<table>
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>*@
                @*@Html.ActionLink(restaurant.Id.ToString(), "Details", new { id = restaurant.Id })*@
                @*<a asp-action="Details" asp-route-id="@restaurant.Id">Details</a>
                <a asp-action="Edit" asp-route-id="@restaurant.Id">Edit</a>
            </td>
            <td>@restaurant.Name</td>
        </tr>

    }
</table>*@

<div>
    @*href="/home/create"*@
    <a aps-controller="Home" asp-action="Create">Create</a>
</div>


@section footer{
    <div>@Model.CurrentGreeting</div>
}

@*<div>
        @Model.Name
    </div>*@
@*</body>
    </html>*@